@charset "utf-8";
/*css doc*/
body{

  background-color: blanchedalmond;
}
.a{
   background-color: rgb(133, 73, 16);
}
h2{

  color: rgb(185, 70, 17);
}
.r{

  color: rgb(204, 82, 25);
}
.f{

  color: rgb(204, 82, 25);
}
.an{

  color: rgb(204, 82, 25);
}
img{

  border-radius: 50%;
}
.rounded{

  border-radius: 50%;
}
